<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    // https://help.disqus.com/en/articles/1717084-javascript-configuration-variables
    this.page.url = '{{ site.author.url | append: page.id | replace: '//', '/' }}';
    this.page.identifier = '{{ page.id }}';
  };
  (function () { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://tomekbielaszewski.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>
