$intellij-string: #6A8759 !default;
$intellij-annotation: #BBB529 !default;
$intellij-class: #CB7731 !default;
$intellij-variable: #A9B7C6 !default;
$intellij-field: #9876AA !default;
$intellij-number: #6897BB !default;
$intellij-comment: #808080 !default;
$intellij-error: #C75450 !default;
